*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.statusbtn{
    width: 100px;
    height: 100px;
}

.form{
    display: none;
}

.form-active
{
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    border: 1px solid black;

}