*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
}

img{
    height: 40px;
    width: 40px;
}

form input{
    display: flex;
    flex-direction: column;
}

.book-container{
    display: flex;
}

.book-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    margin: 1% 1% 1% 1%;
}

.book-div span{
    border: 1px solid green;
}